// Dark

.dark-app{
  background-color: #141D2F;
}

.dark-header-h1{
  color: white;
}

.dark-header-p{
  font-size: 13px;
  color: white;
}
.header-p{
  font-size: 13px;
}



.dark-searchbar{
  background-color: #1E2A47;

  
}

.dark-searchbar-input{
  color: white;

 
}


.dark-card{
  background-color: #1E2A47;
  color: white;
}

.dark-card-white{
  color: white;
}

.dark-card-joined{
  color: white;
}

.dark-card-repo-text{
  color: white;
}
.dark-card-links-text{
  color: white;
}